<div *ngIf='!(loading | async); else loadingIcon'>
  <div class='ml-4 mr-5 header'>
    <h2 class='d-inline-block header-title'>Securities</h2>

    <div class='controls header-controls'>
      <button class='btn btn-sm btn-outline-primary float-right my-1 item-control d-inline'
              [routerLink]="['','securities', 'upload']">
        <i class='fa fa-lg fa-upload'></i>
      </button>

      <button class='btn btn-sm btn-outline-success float-right my-1 mr-2 item-control d-inline'
              [routerLink]="['', 'securities', 'create']">
        <i class='fa fa-lg fa-plus'></i>
      </button>
    </div>
  </div>

  <div *ngIf='(securities | async).length != 0; else noDataBlock'>
    <app-table [columns]='columns'
               [actions]='actions'
               [data]='securities | async'
               (selected)='handleRecordSelection($event)'
    >
    </app-table>

    <app-pagination-block [currentPage]='currentPage'
                          [amountPages]='amountPages'
                          (selectedPage)='setPage($event)'>
    </app-pagination-block>
  </div>
</div>


<ng-template #loadingIcon>
  <app-spinner></app-spinner>
</ng-template>

<ng-template #noDataBlock>
  <app-no-data-block></app-no-data-block>
</ng-template>
