<div class="card container">
  <h3 class="text-center mb-3 mt-3">Тестовое задание JAVA-разработчика</h3>

  <p>Исходные данные представлены выгрузками Московской биржи (описание API: <a href="https://fs.moex.com/files/6523">https://fs.moex.com/files/6523</a>):</p>

  <ul>
    <li>информация о ценных бумагах (securities_*.xml);</li>
    <li>история торгов за произвольную дату (history_*.xml).</li>
  </ul>

  <p>
    Поле для связи объектов: SECID. В приложении допускается существование ценной бумаги без истории, истории
    без описания бумаги - нет.
  </p>

  <strong class="mt-2">Необходимо реализовать сервис, покрывающий задачи:</strong>

  <ol>
    <li>Импорт объектов из приложенных файлов (состав сохраняемых данных определить самостоятельно);</li>
    <li>Предоставить API для CRUD операций по объектам;</li>
    <li>
      При ручном сохранении ценной бумаги проводить валидацию передаваемых данных в поле name - только кириллица,
      цифры и пробел;
    </li>
    <li>
      Отдельным методом реализовать вывод таблицы с данными из тегов:
      <ul type="disc">
        <li>secid</li>
        <li>regnumber</li>
        <li>name</li>
        <li>emitent_title</li>
        <li>tradedate</li>
        <li>tradedate</li>
        <li>tradedate</li>
        <li>numtrades</li>
        <li>open</li>
        <li>close</li>
      </ul>
      Предусмотреть возможность задать параметрами столбцы для сортировки и фильтрацию по полям emitent_title и tradedate;
    </li>
    <li>Реализовать хранение и работу с данными в БД;</li>
    <li>Реализовать MVC приложение, позволяющее через интерфейс импортировать файлы и работать с таблицей п.4 и CRUD операциями.</li>
    <li> Доработать импорт данных: при импорте истории по отсутствующей ценной бумаге выполнять rest запрос к
      API биржи (роут метода http://iss.moex.com/iss/securities.xml?q=SEARCH_STRING).</li>
  </ol>
</div>
